common --@io_bazel_rules_docker//transitions:enable=false
build --sandbox_add_mount_pair=/tmp
build --java_language_version=11
build --java_runtime_version=remotejdk_11
# By default the JVM uses a memory-mapped file for the PerfData structure so that tools can easily access the data.
# It will create issues when JVM unlinks the file at shutdown and may trigger a sandbox fault http://b/205838938.
# -XX:+PerfDisableSharedMem to force JVM uses regular memory instead.
# -XX:-UsePerfData to disable /tmp/hsperfdata references.  We don't use the perf data here so we disable it
build --jvmopt="-XX:-UsePerfData"

# Kythe indexing -- for xrefs in codesearch
build:kythe --keep_going
build:kythe --experimental_extra_action_top_level_only
build:kythe --experimental_action_listener=@kythe_release//:extract_kzip_java
build:kythe --experimental_action_listener=@kythe_release//:extract_kzip_protobuf
